.header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 70px;
  padding: 0 20px;
  box-shadow: 0 0 10px rgb(236, 236, 236);

  .logo {
    height: 30px;
  }

  .header-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: all 0.3s linear;

    &:hover {
      background-color: rgba(245, 245, 245, 0.5);
    }

    .icon {
      font-size: 15px;
      color: rgb(155, 155, 155);
    }
  }
}
