.float-poke {
  position: fixed;
  bottom: 35px;
  right: 35px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  animation: bounce 1.6s infinite;

  @keyframes bounce {
    0% {
      transform: translateY(3px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(3px);
    }
  }

  .pokeball {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      height: 100%;
    }
  }
}
