.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1528px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(245, 245, 245, 0.4);

  .main {
    width: 100%;

    .main-content {
      display: flex;
      justify-content: space-between;
      max-width: 1024px;
      padding: 0 20px;
      margin: 0 auto;
      padding: 20px;
    }
  }
}
